$radius: 28px;
$padding-header: 12px 20px 12px 16px;

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-header {
  height: 70px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  align-items: center;

  .logo {
    height: 40px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
  }
}

.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-btn {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: $radius;
  border: none;
  cursor: pointer;
  color: var(--brand-600);
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--neutral-color-100);
    color: var(--primary-color);
  }

  .badge {
    position: absolute;
    top: -4px;
    right: -4px;
    min-width: 16px;
    height: 16px;
    padding: 12px 20px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(-utility-500);
    color: var(--neutral-color-100);
    border-radius: 8px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
  }
}
