(function (global) {
  var currentEnv = global.__env || {};
  var currentFirebase = currentEnv.firebase || {};

  global.__env = {
    ...currentEnv,
    firebase: {
      ...currentFirebase,
      apiKey: '${FIREBASE_API_KEY}' || currentFirebase.apiKey || '',
      authDomain: '${FIREBASE_AUTH_DOMAIN}' || currentFirebase.authDomain || '',
      projectId: '${FIREBASE_PROJECT_ID}' || currentFirebase.projectId || '',
      storageBucket: '${FIREBASE_STORAGE_BUCKET}' || currentFirebase.storageBucket || '',
      messagingSenderId: '${FIREBASE_MESSAGING_SENDER_ID}' || currentFirebase.messagingSenderId || '',
      appId: '${FIREBASE_APP_ID}' || currentFirebase.appId || '',
      measurementId: '${FIREBASE_MEASUREMENT_ID}' || currentFirebase.measurementId || '',
    },
    firebaseVapidKey: '${FIREBASE_VAPID_KEY}' || currentEnv.firebaseVapidKey || '',
  };
})(globalThis);
